

.dedicated-farmer .facebook {
    background: #3C5998;
}


.dedicated-farmer .twitter {
    background: #29A9E0;

}

.dedicated-farmer .instagram {
    background: #FF2323;

}

.dedicated-farmer .google {
    background: #FF6C00;

}